{% extends "pltools/base.html" %}

{% block title %}
  Playlist Tools - Log in
{% endblock %}

{% block content %}

<h2>Log in</h2>

{% if form.errors %}
  <div class="alert alert-danger">
    Your username and password didn't match. Please try again.
  </div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<div>
  <p>
    {{ form.username.label_tag }} 
    {{ form.username }}
  </p>
  <p>
    {{ form.password.label_tag }} 
    {{ form.password }}
  </p>
</tr>
</div>

<input class="btn btn-primary" type="submit" value="Log in" />
<input type="hidden" name="next" value="/{{ next }}" />
</form>

{% endblock %}
