{% extends "pltools/base.html" %}

{% block title %}
  Playlist Tools - Register
{% endblock %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-danger">
    Something went wrong. Please try again.
    {{ form.errors }}
  </div>
{% endif %}

<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<div>
  <p>
    {{ form.username.label_tag }} 
    {{ form.username }}
  </p>
  <p>
    {{ form.email.label_tag }} 
    {{ form.email }}
  </p>
  <p>
    {{ form.password1.label_tag }} 
    {{ form.password1 }}
  </p>
  <p>
    {{ form.password2.label_tag }} 
    {{ form.password2 }}
  </p>
</div>

<input type="submit" class="btn btn-primary" value="Register" />
</form>

{% endblock %}
