{% extends 'pltools/base.html' %}

{% block title %}
  Playlist Tools - Reverse
{% endblock %}

{% block content %}
  <h2>Reverse playlist</h2>

  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}

  {% if new_playlist_id %}
    Reversed playlist: <a href="https://youtube.com/playlist?list={{ new_playlist_id }}" target="_blank">https://youtube.com/playlist?list={{ new_playlist_id }}</a><hr>
    
  {% endif %}
  <form role="form" method="POST">
    {% csrf_token %} 
    <div class="form-group">
      <label for="playlist_link">Playlist link:</label>
      <input type="text" name="playlist_link" value="{{ playlist_link }}" class="form-control">
    </div>
    <input type="submit" value="Reverse" class="btn btn-primary">
  </form>
  <p class="lead">This may take a while. Please be patient.</p>

{% endblock %}
